<div class="spaceships-index-body" data-controller="animated-stars-js">
  <h1 class= "text-center page-title">All our available spaceships</h1>
  <%# faire des colonnes  %>

  <div class="container justify-content-center ">
    <%#  dans la div organiser les cards avec col etc %>
    <div class= "row d-flex justify-content-around">
      <% @spaceships.each do |spaceship| %>
        <div class= "index-card">
          <img src="<%= cl_image_path spaceship.photos.first.key%>", alt="...">
          <div class="index-card-text">
            <div>
              <p class="card-title"><strong><%= spaceship.name %></strong></p>
              <p><strong></strong><%= link_to spaceship.name, spaceship_path(spaceship), class: "card-title text-decoration-none stretched-link text-color-black" %></strong></p>
              <p class="card-text"><%= spaceship.address %></p>
              <p><strong><%= spaceship.price %>€/day</strong></p>
            </div>
            <%= link_to "See More/Book", spaceship_path(spaceship), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
