<h2><%= @spaceship.name %></h2>
<h3><%= @spaceship.price %></h3>
<p><%= @spaceship.description %></p>
<p><%= @spaceship.weapons %></p>
<p><%= @spaceship.energy %></p>
<p><%= @spaceship.seats %></p>
<p><%= @spaceship.address %></p>
<p><%= @spaceship.gravity %></p>
