<!DOCTYPE html>
<html>
  <head>
    <title>Spacesheep</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Homemade+Apple&family=IBM+Plex+Sans+Devanagari:wght@100;300&family=Prata&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body style=" display: flex; min-height: 100vh; flex-direction:column;">
    <%= render "components/navbar" %>
    <%# <main style="flex: 1;"> %>
    <%= yield %>
    <%# </main> %>
    <%# <%= render "components/flashes" %>
    <%= render "components/footer" %>
  </body>
</html>
